[submodule "themes/archie"]
	path = themes/archie
	url = https://github.com/athul/archie.git
[submodule "themes/hugo-social-metadata"]
	path = themes/hugo-social-metadata
	url = https://github.com/msfjarvis/hugo-social-metadata.git
